<div id="tab_quadfrost">
    <div>
        <input type="text" class="input-xxlarge" data-bind="value: newSerialPort">
        <button class="btn btn-primary" data-bind="click: connectToSerial">Connect</button>
    </div>

    <div>
        <input id="quadfrost-light" type="checkbox" class="custom-control-input" data-bind="checked: lampState">
        <label class="custom-control-label" for="lamp">Lights</label>
    </div>

    <div>
        <input id="quadfrost-filter" type="checkbox" class="custom-control-input" data-bind="checked: filterState">
        <label class="custom-control-label" for="lamp">Filter</label>
    </div>
</div>