<div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: serialPort">
    <button class="btn btn-primary" data-bind="click: connectToSerial">Connect</button>
    
    <input id="quadfrost-light" type="checkbox" class="custom-control-input">
    <label class="custom-control-label" for="lamp">Turn on lights</label>
</div>